<div class="footer">
    <div class="ui container">
      <div class="media">
        <a href="https://www.facebook.com/gtshpe/" target="_blank">
          <i class="facebook square icon"></i>
        </a>
        <a href="https://www.instagram.com/gtshpe/" target="_blank">
          <i class="instagram icon"></i>
        </a>
        <a href="https://twitter.com/GT_SHPE" target="_blank">
          <i class="twitter icon"></i>
        </a>
        <a href="https://www.linkedin.com/company/gt-shpe/" target="_blank">
          <i class="linkedin icon"></i>
        </a>
        <a href="mailto:shpegt@gmail.com">
            <i class="envelope icon"></i>
        </a>
      </div>
      <div class="made-with-love">
        Made with <i class="heart icon"></i> by the GT-SHPE team
      </div>
    </div>
</div>
