<div class="ui container">
    <h1>Hello! Please select one of the following options to continue.</h1>
    <div class="buttons">
        <button id="checkIn" class="ui button" (click)="checkIn()">Check In</button>
        <button id="reinmbursement" class="ui button">Request Reimbursement</button>
        <button id="help" class="ui button">Help</button>
    </div>

    <div class="ui centered card" style="margin-top: 3em;">
        <h1 class="header">Points</h1>
        <p class="content center aligned">{{points}}</p>
        <button class="ui bottom attached button" (click)="viewPoints()">
            View Points
        </button>
    </div>
</div>
